USE [master]
GO
/****** Object:  Database [demoCRUD]    Script Date: 3/22/2021 4:14:23 PM ******/
CREATE DATABASE [demoCRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demoCRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\demoCRUD.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'demoCRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\demoCRUD_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demoCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demoCRUD]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 3/22/2021 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Sr_no] [int] IDENTITY(1,1) NOT NULL,
	[Emp_name] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[STATE] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Department] [nvarchar](500) NULL,
	[flag] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

INSERT [dbo].[tbl_Employee] ([Sr_no], [Emp_name], [City], [STATE], [Country], [Department], [flag]) VALUES (1, N'KHANG', N'HCM', N'ASD', N'VN', N'ASDF', N'SDASD')
SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
GO
/****** Object:  StoredProcedure [dbo].[Sp_Employee]    Script Date: 3/22/2021 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[Sp_Employee]
		@Sr_no INT,
		@Emp_name NVARCHAR(500),
		@City NVARCHAR(500),
		@STATE NVARCHAR(500),
		@Country NVARCHAR(500),
		@Department NVARCHAR(500),
		@flag NVARCHAR(500)
	AS
    BEGIN
    	IF(@flag = 'insert')
		BEGIN
			INSERT dbo.tbl_Employee( Sr_no ,Emp_name , City ,STATE ,Country ,Department )
			VALUES  ( @Sr_no,@Emp_name,@City,@STATE,@Country,@Department)
		END
		ELSE IF(@flag ='update')
		BEGIN
			UPDATE dbo.tbl_Employee SET Emp_name=@Emp_name , City=@City ,STATE=@STATE ,Country=@Country ,Department=@Department
			WHERE @Sr_no=Sr_no
		END
		ELSE IF(@flag ='delete')
		BEGIN
			DELETE dbo.tbl_Employee WHERE @Sr_no=Sr_no
		END
		ELSE IF(@flag = 'getid')
		BEGIN
			SELECT *FROM dbo.tbl_Employee WHERE @Sr_no=Sr_no
		END
		ELSE IF(@flag ='get')
		BEGIN
			SELECT * FROM dbo.tbl_Employee
		END

    END

GO
USE [master]
GO
